*{
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

.App{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  display: grid;
}

.card-section, .start-card{
  place-self: center;
}

.quiz-card, .score-card, .start-card{
  background-color: white;
  width: 500px;
  height: 300px;
  border-radius: 15px;
}